name: Build and deploy dotnet core project to Azure Function App - app-nyforvarvslistan-dev

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: '.' # Adjust if your project is in a subdirectory
  DOTNET_VERSION: '6.0.x' # Ensure this matches your Function App's runtime

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # This is required for requesting the JWT

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          repository: mtmse/nyforvarvslistan2
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Setup DotNet ${{ env.DOTNET_VERSION }} Environment
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: 'Restore, Build, and Publish Project'
        shell: bash
        run: |
          pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
          dotnet restore
          dotnet publish --configuration Release --output ./output
          popd

      # Remove or update this step if Dewey_SAB.txt is no longer needed
      # - name: Check if Dewey_SAB.txt is in the output directory
      #   run: |
      #     if [ ! -f "./output/Dewey_SAB.txt" ]; then
      #       echo "Dewey_SAB.txt is missing from the output directory"
      #       exit 1
      #     fi

      - name: List output directory contents
        run: ls -la ./output
        
      - name: Login to Azure
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_1B559D82203043EFACB02504BE6742E3 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_7543B6B8019A48A598E4C2845D6819FA }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_9F4A3BF148DB431483CD073ED6F3F5C1 }}

      - name: 'Deploy to Azure Functions'
        uses: Azure/functions-action@v1
        id: fa
        with:
          app-name: 'app-nyforvarvslistan-dev'
          slot-name: 'Production'
          package: '${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}/output'

      - name: Login to Azure (prod - annan tenant)
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_PROD }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_PROD }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_PROD }}

      - name: Deploy to Azure Functions (prod)
        uses: Azure/functions-action@v1
        with:
          app-name: 'app-nyforvarvslistan-prod'
          slot-name: 'Production'
          package: '${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}/output'

